In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

curr_wor_dir = os.getcwd()
data = '/data_ipynb/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month-2.csv'
final_data_dir = curr_wor_dir + data

# Read the CSV file
df = pd.read_csv(final_data_dir)
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,209044.032747,...,486299.822703,488450.034543,491246.367234,493753.575310,495060.153069,495365.132391,494987.724791,495393.290898,496081.013222,497199.835159
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,138154.018163,...,588475.418739,591048.706991,596177.342835,604530.120559,611916.238322,617370.077059,622270.010994,627535.387875,633736.078245,639283.596573
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,102286.114622,...,275170.813362,275862.593787,276945.296053,277892.635056,278419.521895,278380.305608,278149.011828,277969.708313,277784.000058,277372.922029
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,148936.874942,...,450240.714587,448627.198880,451705.600698,456243.079221,460893.462389,461600.365198,461088.306901,460451.755953,461417.194067,461167.663426
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,101363.959236,...,269625.368017,270145.782158,271136.681166,272118.147175,272615.183491,272450.114780,272160.688023,271890.755361,271640.385722,271138.574610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26328,100030,39992,98934,zip,WA,WA,Kittitas,"Ellensburg, WA",Kittitas County,NaN,...,312603.204272,311692.056033,311993.760456,313649.493144,315491.623187,316118.345492,316226.836032,316354.621335,316997.980078,317180.136507
26329,92085,39992,77661,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Chambers County,NaN,...,198826.065324,197502.705528,197144.590082,196828.380752,196243.065980,195783.608070,194694.986254,193341.194542,191090.540362,188904.256994
26330,64277,39992,15731,zip,PA,PA,Coral,"Indiana, PA",Indiana County,NaN,...,76888.734116,77098.076741,77452.791294,77978.941023,78672.604560,79740.016892,79955.960522,80229.235798,79840.036951,79815.959839
26331,98183,39992,95419,zip,CA,CA,Camp Meeker,"Santa Rosa-Petaluma, CA",Sonoma County,87521.220231,...,443507.479719,442852.741768,443799.242712,447025.652462,446525.300617,442124.473109,435594.341547,430992.141432,428631.343358,426691.558972
26332,67368,39992,22722,zip,VA,VA,Haywood,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Madison County,NaN,...,357548.770646,358085.093123,361017.439586,365207.003705,369994.581038,373440.117201,376541.705411,378215.590089,379178.915893,380019.246049

In [16]:
df=df.dropna()

In [17]:
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,209044.032747,...,486299.822703,488450.034543,491246.367234,493753.575310,495060.153069,495365.132391,494987.724791,495393.290898,496081.013222,497199.835159
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,138154.018163,...,588475.418739,591048.706991,596177.342835,604530.120559,611916.238322,617370.077059,622270.010994,627535.387875,633736.078245,639283.596573
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,102286.114622,...,275170.813362,275862.593787,276945.296053,277892.635056,278419.521895,278380.305608,278149.011828,277969.708313,277784.000058,277372.922029
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,148936.874942,...,450240.714587,448627.198880,451705.600698,456243.079221,460893.462389,461600.365198,461088.306901,460451.755953,461417.194067,461167.663426
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,101363.959236,...,269625.368017,270145.782158,271136.681166,272118.147175,272615.183491,272450.114780,272160.688023,271890.755361,271640.385722,271138.574610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26311,97161,39992,93222,zip,CA,CA,Pine Mountain Club,"Bakersfield, CA",Kern County,113481.076058,...,383290.842847,383267.346713,384194.660158,385524.008401,386278.269653,385827.408702,385708.004672,385761.081068,386163.076744,386035.804992
26316,76723,39992,43525,zip,OH,OH,Haskins,"Toledo, OH",Wood County,130796.436063,...,258231.210560,259264.177327,261628.229775,264019.352626,265704.447146,266467.832625,266772.180942,266761.883331,266658.903083,267085.496200
26317,63002,39992,13162,zip,NY,NY,Verona Beach,"Utica-Rome, NY",Oneida County,54910.088768,...,190645.789430,191305.555757,192148.291152,193276.544481,194985.636786,197271.295571,199487.490952,201014.254228,202367.720895,204349.273657
26320,93402,39992,80453,zip,CO,CO,Idledale,"Denver-Aurora-Lakewood, CO",Jefferson County,163866.512752,...,546843.802639,547003.714756,547800.821314,547685.228085,547131.261117,544708.816299,544067.782693,544514.745762,546826.913367,548541.434686
26331,98183,39992,95419,zip,CA,CA,Camp Meeker,"Santa Rosa-Petaluma, CA",Sonoma County,87521.220231,...,443507.479719,442852.741768,443799.242712,447025.652462,446525.300617,442124.473109,435594.341547,430992.141432,428631.343358,426691.558972

In [18]:
df_top_20=df.head(20)

subsets={}
for index, row in df_top_20.iterrows():
    subset_id=row["RegionID"]
    subset=pd.DataFrame({
    "date":df.columns[9:],
    "cost":row[9:].values,
    })
    subsets[subset_id] = subset
    globals()[f"df_{subset_id}"]=subset
for subset_id, subset_df in subsets.items():
    print(f"Dataset{subset_id}:")
    print(subset_df)
    print()

Dataset91982:
           date           cost
0    2000-01-31  209044.032747
1    2000-02-29  209225.464086
2    2000-03-31   209710.27032
3    2000-04-30  210689.474219
4    2000-05-31  210724.500177
..          ...            ...
293  2024-06-30  495365.132391
294  2024-07-31  494987.724791
295  2024-08-31  495393.290898
296  2024-09-30  496081.013222
297  2024-10-31  497199.835159

[298 rows x 2 columns]

Dataset61148:
           date           cost
0    2000-01-31  138154.018163
1    2000-02-29  138724.218828
2    2000-03-31   139109.61338
3    2000-04-30  140085.976636
4    2000-05-31  141101.750123
..          ...            ...
293  2024-06-30  617370.077059
294  2024-07-31  622270.010994
295  2024-08-31  627535.387875
296  2024-09-30  633736.078245
297  2024-10-31  639283.596573

[298 rows x 2 columns]

Dataset91940:
           date           cost
0    2000-01-31  102286.114622
1    2000-02-29   102300.24837
2    2000-03-31   102174.69352
3    2000-04-30  102165.088254
4    2000-05-31  102211.726399
..          ...            ...
293  2024-06-30  278380.305608
294  2024-07-31  278149.011828
295  2024-08-31  277969.708313
296  2024-09-30  277784.000058
297  2024-10-31  277372.922029

[298 rows x 2 columns]

Dataset62080:
           date           cost
0    2000-01-31  148936.874942
1    2000-02-29  150417.156149
2    2000-03-31    151529.0241
3    2000-04-30  153384.960796
4    2000-05-31  154715.991938
..          ...            ...
293  2024-06-30  461600.365198
294  2024-07-31  461088.306901
295  2024-08-31  460451.755953
296  2024-09-30  461417.194067
297  2024-10-31  461167.663426

[298 rows x 2 columns]

Dataset91733:
           date           cost
0    2000-01-31  101363.959236
1    2000-02-29  101321.448221
2    2000-03-31  101141.451806
3    2000-04-30  101059.217991
4    2000-05-31  101034.755772
..          ...            ...
293  2024-06-30   272450.11478
294  2024-07-31  272160.688023
295  2024-08-31  271890.755361
296  2024-09-30  271640.385722
297  2024-10-31   271138.57461

[298 rows x 2 columns]

Dataset93144:
           date           cost
0    2000-01-31   89322.875725
1    2000-02-29   89307.701889
2    2000-03-31   89327.073116
3    2000-04-30   89304.033598
4    2000-05-31   89328.933725
..          ...            ...
293  2024-06-30  211728.371063
294  2024-07-31  211948.845123
295  2024-08-31  212110.333772
296  2024-09-30  212373.693644
297  2024-10-31  212561.831651

[298 rows x 2 columns]

Dataset62093:
           date           cost
0    2000-01-31  262662.949837
1    2000-02-29  263793.522635
2    2000-03-31  265224.676388
3    2000-04-30  267240.994312
4    2000-05-31  268689.970165
..          ...            ...
293  2024-06-30   804711.73933
294  2024-07-31  804494.014751
295  2024-08-31  806317.105733
296  2024-09-30  810315.097045
297  2024-10-31  814334.533425

[298 rows x 2 columns]

Dataset92593:
           date           cost
0    2000-01-31  154250.012684
1    2000-02-29  154549.977625
2    2000-03-31  154700.673533
3    2000-04-30  155091.248975
4    2000-05-31  155426.914189
..          ...            ...
293  2024-06-30  394247.826956
294  2024-07-31  392919.629209
295  2024-08-31  391812.411674
296  2024-09-30  391226.851775
297  2024-10-31  390281.492958

[298 rows x 2 columns]

Dataset62019:
           date           cost
0    2000-01-31  180948.498192
1    2000-02-29   181188.87265
2    2000-03-31  181492.752815
3    2000-04-30  182329.912543
4    2000-05-31  183605.211009
..          ...            ...
293  2024-06-30  674124.715745
294  2024-07-31  674583.635394
295  2024-08-31  675525.625097
296  2024-09-30  677539.811531
297  2024-10-31  678312.595849

[298 rows x 2 columns]

Dataset95992:
           date           cost
0    2000-01-31  114854.280637
1    2000-02-29  115316.244173
2    2000-03-31  116004.653344
3    2000-04-30  117069.645946
4    2000-05-31  118010.966595
..          ...            ...
293  2024-06-30  578471.300444
294  2024-07-31  581082.101185
295  2024-08-31  585109.973291
296  2024-09-30  590937.026418
297  2024-10-31  596210.429604

[298 rows x 2 columns]

Dataset91926:
           date           cost
0    2000-01-31   185320.83363
1    2000-02-29   185399.73916
2    2000-03-31  185184.559341
3    2000-04-30  185218.874352
4    2000-05-31  185160.078451
..          ...            ...
293  2024-06-30  426016.994119
294  2024-07-31  425053.323728
295  2024-08-31  424649.053816
296  2024-09-30  424672.781124
297  2024-10-31  424762.828514

[298 rows x 2 columns]

Dataset84630:
           date           cost
0    2000-01-31   93742.057968
1    2000-02-29   93686.193714
2    2000-03-31   93812.145796
3    2000-04-30   94261.681018
4    2000-05-31   94860.154766
..          ...            ...
293  2024-06-30  243216.032829
294  2024-07-31  244835.665428
295  2024-08-31  246579.666332
296  2024-09-30  247780.644068
297  2024-10-31  248870.990876

[298 rows x 2 columns]

Dataset96193:
           date           cost
0    2000-01-31  152198.494847
1    2000-02-29  152345.497107
2    2000-03-31  152839.323857
3    2000-04-30  153811.352518
4    2000-05-31  155094.510155
..          ...            ...
293  2024-06-30  712057.448889
294  2024-07-31  716034.891717
295  2024-08-31  720987.025645
296  2024-09-30  726778.854814
297  2024-10-31  731268.014944

[298 rows x 2 columns]

Dataset96361:
           date           cost
0    2000-01-31  121381.973525
1    2000-02-29  121558.943418
2    2000-03-31  122105.247698
3    2000-04-30  123240.999538
4    2000-05-31   124750.82547
..          ...            ...
293  2024-06-30  697465.595016
294  2024-07-31    701961.8884
295  2024-08-31  708574.467478
296  2024-09-30  715731.980002
297  2024-10-31  721696.692539

[298 rows x 2 columns]

Dataset74101:
           date           cost
0    2000-01-31  120681.440223
1    2000-02-29  120856.343002
2    2000-03-31  121056.150964
3    2000-04-30  121534.193982
4    2000-05-31  121964.242126
..          ...            ...
293  2024-06-30  359869.444563
294  2024-07-31  360334.781275
295  2024-08-31  360284.227466
296  2024-09-30  360216.736795
297  2024-10-31  359869.467733

[298 rows x 2 columns]

Dataset61807:
           date           cost
0    2000-01-31   152545.47354
1    2000-02-29  153410.218278
2    2000-03-31  154224.925388
3    2000-04-30  156266.574383
4    2000-05-31  158495.526198
..          ...            ...
293  2024-06-30  369062.969463
294  2024-07-31  368696.392148
295  2024-08-31  369597.586386
296  2024-09-30   371425.23833
297  2024-10-31  371800.415399

[298 rows x 2 columns]

Dataset62018:
           date           cost
0    2000-01-31  145584.593883
1    2000-02-29  146030.123001
2    2000-03-31  146502.323734
3    2000-04-30    147734.4066
4    2000-05-31  149050.058228
..          ...            ...
293  2024-06-30  583917.805549
294  2024-07-31   584796.45256
295  2024-08-31  586570.540358
296  2024-09-30  588942.016007
297  2024-10-31  591661.418323

[298 rows x 2 columns]

Dataset70829:
           date           cost
0    2000-01-31  132745.539113
1    2000-02-29  133028.896316
2    2000-03-31  133353.862313
3    2000-04-30  134077.263331
4    2000-05-31  134915.742741
..          ...            ...
293  2024-06-30  359941.538526
294  2024-07-31  360790.682409
295  2024-08-31   361451.50113
296  2024-09-30  361646.716461
297  2024-10-31  361158.027253

[298 rows x 2 columns]

Dataset96025:
           date           cost
0    2000-01-31   126420.60819
1    2000-02-29  126119.811559
2    2000-03-31  126052.021605
3    2000-04-30  126222.639077
4    2000-05-31  126802.697911
..          ...            ...
293  2024-06-30  610044.917193
294  2024-07-31  612976.652213
295  2024-08-31  617416.685893
296  2024-09-30  623369.607357
297  2024-10-31  628334.041202

[298 rows x 2 columns]

Dataset96817:
           date           cost
0    2000-01-31  161040.689804
1    2000-02-29  161910.083064
2    2000-03-31  162692.308548
3    2000-04-30  164181.314809
4    2000-05-31  165394.257138
..          ...            ...
293  2024-06-30  687955.798306
294  2024-07-31  691451.814461
295  2024-08-31  693768.913741
296  2024-09-30   695901.71549
297  2024-10-31  697468.458618

[298 rows x 2 columns]

In [19]:
df_62080.to_csv("df_62080.csv", index=False)

In [20]:
df_91733

           date           cost
0    2000-01-31  101363.959236
1    2000-02-29  101321.448221
2    2000-03-31  101141.451806
3    2000-04-30  101059.217991
4    2000-05-31  101034.755772
..          ...            ...
293  2024-06-30   272450.11478
294  2024-07-31  272160.688023
295  2024-08-31  271890.755361
296  2024-09-30  271640.385722
297  2024-10-31   271138.57461

[298 rows x 2 columns]